<% @employees_data = JSON.parse(@employee[:body]) %>
<table class="table">
  <tr>
    <th>Name</th>
    <td><%= @employees_data["name"] %></td>
  </tr>
  <tr>
    <th>Position</th>
    <td><%= @employees_data["position"] %></td>
  </tr>
  <tr>
    <th>Salary</th>  
    <td><%= @employees_data["salary"] %></td>
  </tr>
  <tr>
    <th>Date of Birth</th>  
    <td><%= @employees_data["date_of_birth"] %></td>
  </tr>
</table>